@import url(https://fonts.googleapis.com/css?family=Roboto);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{   
    color: #1A0E7C;
    font-family: 'Roboto',"Times New Roman";
}
.navbar{
    width: 100%;
    margin: auto;
}
.header{
    font-size: 20px;
    text-align: center;
}
.bold-letter h1{
    font-weight: 900;
    font-size: 45px;
    color: #1A0E7C;
}
#logo-first-name{
    color: rgb(184, 232, 238);
}
#logo-second-name{
    color: blue;
}
.font-text{
    color: #1A0E7C;
}
.bold-text{
    font-size: 40px;
    font-weight: 500;
}
.font-color{
    color: #1A0E7C ;
}
.font-size{
    font-size:20px;
}
.quality-section{
    background-color: rgba(227, 255, 251, 0.904);
    border-radius: 87% 13% 96% 4% / 16% 98% 2% 84%;
}
.teamwork{
    border-radius: 137% 67% 53% 153% / 57% 227% 114% 105% ;
    background-color: rgba(227, 255, 251, 0.904);
    height: 350px;
}
.teamwork .image{
    height: 100%;
}
.teamwork img{
    border-radius: 25px;
}
.services{
    margin-top: 40px;
}
.services .col{
background-color:  rgba(227, 255, 251, 0.904);;
border-radius: 87% 13% 96% 4% / 16% 98% 2% 84% ;
}
.services .col-md-4 i:hover{
    cursor: default;
    transform: rotate(360deg) scale(2);
    transition: all 0.5s ease-in-out 0s;
}
.contact-box-height{
    height: 100%;
    margin: auto;
}
.contact{
    margin-bottom: 55px  !important;
    margin-top: 55px !important;
}
.contact img{
    border-radius: 20px;
    height: 100%;
    object-fit: contain;
    width: 100%;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: rgb(241, 241, 241);
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: rgb(176, 210, 211);
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit]:hover{
    background-color: rgb(167, 167, 241);
}
footer{
    height: 80px;
    width: 100%;
    background-color: rgba(227, 255, 251, 0.904);
    position: relative;
}
footer h5{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Media queries for responsiveness */
@media screen and (max-width:768px)
{
    .bold-letter h1{
        font-size: 30px;
    }
    .services{
        margin-top: 270px;
    }
    .services .col{
        margin-top: 25px;
    }
    #teamwork img{
        height: 250px;
        margin-top: 90px;
    }
    #profile img{
        height: 320px;
    }
    .contact img{
        height: 300px;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .contact{
        width: 80%;
        margin: auto;
    }
}